aws_region="eu-west-1"
es_cluster="group-test"
vpc_id="vpc-0d602962c24caf5d3"
key_name="staging-pulse-elasticsearch"
asg_subnet_ids=["subnet-0138e23df927ce374"]
lb_subnet_ids=["subnet-0138e23df927ce374"]

masters_count = {
  "eu-west-1a" = 1
}
datas_count = {
  "eu-west-1a" = 1
}
data_voters_count = {
  "eu-west-1a" = 2
}
datas_blue_count = {
  "eu-west-1a" = 1
}
data_voters_blue_count = {
  "eu-west-1a" = 2
}
masters_blue_count = {
  "eu-west-1a" = 1
}

security_enabled = true
monitoring_enabled = false
client_user = "someuser"
public_facing = false
auto_shut_down_bootstrap_node = true

monitoring_user = "admin"
monitoring_host = "pulse-monitoring-host.eu-west-1.es.amazonaws.com"
monitoring_port = "443"
monitoring_secret_arn = "arn:aws:secretsmanager:..."
monitoring_tls_verify = "Off"
requires_bootstrapping = true

data_instance_type="m5.large"
data_heap_size="4g"
elasticsearch_blue_volume_size=200
data_blue_instance_type="m8g.large"
data_blue_heap_size="4g"
master_blue_instance_type="c6g.large"
master_blue_heap_size="2g"
