aws_region="eu-west-1"
es_cluster="group-test"
vpc_id="vpc-0d602962c24caf5d3"
key_name="staging-pulse-elasticsearch"
asg_subnet_ids=["subnet-0138e23df927ce374"]
lb_subnet_ids=["subnet-0138e23df927ce374"]

masters_count = {
  "eu-west-1a" = 0
}
datas_count = {
  "eu-west-1a" = 0
}
clients_count = {
  "eu-west-1a" = 0
}
data_voters_count = {
  "eu-west-1a" = 0
}
datas_blue_count = {
  "eu-west-1a" = 1
}
data_voters_blue_count = {
  "eu-west-1a" = 2
}
masters_blue_count = {
  "eu-west-1a" = 1
}

security_enabled = true
monitoring_enabled = false
client_user = "someuser"
public_facing = false
auto_shut_down_bootstrap_node = true

monitoring_user = "admin"
monitoring_host = "pulse-monitoring-host.eu-west-1.es.amazonaws.com"
monitoring_port = "443"
monitoring_secret_arn = "arn:aws:secretsmanager:..."
monitoring_tls_verify = "Off"
requires_bootstrapping = true

data_instance_type="m6g.large"
data_heap_size="4g"

master_instance_type="c6g.large"
master_heap_size="2g"

elasticsearch_blue_volume_size=200
data_blue_instance_type="m8g.large"
data_blue_heap_size="4g"
data_blue_disk_throughput=125
data_blue_disk_iops=3000

master_blue_instance_type="c6g.large"
master_blue_heap_size="2g"
ssh_access_sg="sg-08df5295c4dda94f5"

elasticsearch_ami_id ="ami-0ee5d2486cd163c5f"
elasticsearch_blue_ami_id="ami-0ee5d2486cd163c5f"
kibana_ami_id="ami-016879db93059513d"
